services:

  uv-dev:
    container_name: uv-dev
    build:
      context: .
      target: dev
    volumes:
      - ./src:/home/uv-user/src
    ports:
      - 8010:8000

  uv-prod:
    container_name: uv-prod
    build:
      context: .
      target: prod
    ports:
      - 8000:8000